<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landon & Delwys Gif Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i' type='text/css' media='all' />
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#">Converter App</a>
        </nav>
      </header>

    <!--Main Area-->
    <main role="main" class="container">
      <!--response-->
      <div class="alert alert-secondary" role="alert">
        <h3><em>PLEASE WAIT XD... ... ...</em></h3>
      </div>
      <script>
        $(function() { 
            // Refresh every 3 seconds
            setTimeout(function(){ 
            const filename = "<%= file %>";
            if(window.location.pathname.includes(filename))
                window.location.replace(window.location.pathname);
            else
                window.location.replace(window.location.pathname + "/" + filename);
            }, 3000);
        });
      </script>
    </main>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <p>&copy;Copyright 2020</p>
        </div>
    </div>

  <!-- Footer -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
</body>
</html>
